/* ExibirDesafiosFalso.css */

.container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.desafio-box {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  width: 80%;
  max-width: 800px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

.desafio-title {
  color: #333;
}

.solucao-list {
  list-style: none;
  padding: 0;
}

.solucao-item {
  padding: 5px 0;
}

.input-solucao {
  width: calc(100% - 20px);
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.btn-adicionar {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.btn-adicionar:hover {
  background-color: #0056b3;
}
