.desafios {
  padding: 20px;
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
}

.titulo-desafios {
  text-align: center;
  font-size: 2em;
  margin-bottom: 20px;
  color: #333;
}

.desafio-mostrar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cartao {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  width: 40rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
  margin: 2rem;
}

.cartao:hover {
  transform: translateY(-10px);
}

.cartao-titulo {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #007BFF;
}

.cartao-detalhes {
  margin-bottom: 10px;
  color: #555;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.botao-detalhes {
  background-color: #007BFF;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s;
}

.botao-detalhes:hover {
  background-color: #0056b3;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;  /* Alinha o modal no centro horizontalmente */
  align-items: center;      /* Alinha o modal no centro verticalmente */
  z-index: 1000;
}

.modal-container {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  width: 500px;
  position: relative;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;               /* Flex para centralizar os itens internos */
  flex-direction: column;      /* Organiza os itens do modal em coluna */
  align-items: center;         /* Centraliza os itens horizontalmente */
  justify-content: center;     /* Alinha os itens verticalmente no centro */
}

.modal-botao-fechar {
  background-color: transparent;
  border: none;
  color: #333;
  font-size: 2em;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 3.9rem;
  cursor: pointer;
}

.modal-titulo {
  font-size: 1.8em;
  margin-bottom: 15px;
  color: #333;
  text-align: center;  /* Centraliza o título */
}

.modal-input-solucao {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.modal-salvar {
  background-color: #28a745;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s;
}

.modal-salvar:hover {
  background-color: #218838;
}

.modal-criterios {
  margin-top: 20px;
  width: 100%;
  text-align: center; 
}

.modal-criterios h3 {
  font-size: 1.4em;
  margin-bottom: 10px;
  color: #4b4f53;
}

.modal-criterios ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-criterios li {
  list-style-type: none;
}

.criterio-item {
  background-color: #f0f8ff;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  border: 1px solid #ddd;
  color: #555;
  font-size: 1em;
  width: 90%; /* Define a largura dos itens para garantir que se ajustem dentro do modal */
  text-align: center; /* Centraliza o texto de cada critério */
}
